### Nama : Bimasakti Cahyo Utom
### NIM : 2209106021
### Kelas : A1 2022
## POSTTEST 4

In [1]:
import pandas as pd
import numpy as np

1. Pandas : untuk mengelolah data dalam bentuk dataframe
2. numpy : library Python yang fokus pada scientific computing.

In [2]:
df = pd.read_csv('Unicorn_Companies.csv')
df2 = pd.read_csv('Unicorn_Companies.csv')
df3 = pd.read_csv('Unicorn_Companies.csv')
df

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Financial Stage,Investors Count,Deal Terms,Portfolio Exits
0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,$7.44B,IPO,28,8,5
1,SpaceX,$100.3,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,$6.874B,None,29,12,None
2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,Asset,39,12,1
3,Klarna,$45.6,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,Acquired,56,13,1
4,Epic Games,$42,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,$4.377B,Acquired,25,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,Timescale,$1,2/22/2022,United States,New York,Internet software & services,"New Enterprise Associates, Benchmark, Two Sigm...",2015,$181.06M,None,7,2,None
1036,Scalapay,$1,2/23/2022,Italy,Milan,Fintech,"Fasanara Capital, Tiger Global Management, Bal...",2019,$700M,None,10,2,None
1037,Omada Health,$1,2/23/2022,United States,San Francisco,Health,"U.S. Venture Partners, dRx Capital, Andreessen...",2011,$449.72M,None,30,6,None
1038,BlueVoyant,$1,2/23/2022,United States,New York,Cybersecurity,"8VC, Liberty Strategic Capital, Eden Global Pa...",2017,$525.5M,None,6,2,None
1039,Veev,$1,2/24/2022,United States,San Mateo,Internet software & services,"Zeev Ventures, Bond, Fifth Wall Ventures",2008,$604.5M,None,11,1,None

Membaca file

In [3]:
df2["Date Joined"] = df2["Date Joined"].astype('datetime64[m]')
df2["Valuation ($B)"] = df2["Valuation ($B)"].str.replace('$','').astype('float64')
df2["Founded Year"] = df2["Founded Year"].replace('None', None).astype('Int64')
df2['Portfolio Exits'] = df2['Portfolio Exits'].replace('None', None).astype('Int64')
df2['Deal Terms'] = df2['Deal Terms'].replace('None', None).astype('Int64')
df2['Investors Count'] = df2['Investors Count'].replace('None', None).astype('Int64')
df2['Total Raised'] = df2['Total Raised'].str.replace('B|M|K', '')
df2['Total Raised'] = df2['Total Raised'].replace('None', None)
df2['Total Raised'] = df2['Total Raised'].str.replace('$', '').astype('float64')

C:\Users\Bimasakti Cahyo Utom\AppData\Local\Temp\ipykernel_6868\1329816454.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2["Valuation ($B)"] = df2["Valuation ($B)"].str.replace('$','').astype('float64')
C:\Users\Bimasakti Cahyo Utom\AppData\Local\Temp\ipykernel_6868\1329816454.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df2['Total Raised'] = df2['Total Raised'].str.replace('B|M|K', '')
C:\Users\Bimasakti Cahyo Utom\AppData\Local\Temp\ipykernel_6868\1329816454.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['Total Raised'] = df2['Total Raised'].str.replace('$', '').astype('float64')

Konversi kolom object yang datanya angka menjadi tipe data numerik

### 1. Membagi data menjadi training set dan testing set dengan proporsi 70:30

In [4]:
from sklearn.model_selection import train_test_split

Digunakan untuk melakukan Data Split

In [5]:
X = df.iloc[:,:-1] 
y = df.iloc[:,-1] #

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=12)

In [7]:
print("Dimensi X_train : ", X_train.shape)
print("Dimensi X_train : ", X_test.shape)
print("Dimensi y_train : ", y_train.shape)
print("Dimensi y_test : ", y_test.shape)

Dimensi X_train :  (728, 12)
Dimensi X_train :  (312, 12)
Dimensi y_train :  (728,)
Dimensi y_test :  (312,)

### 2.  Normalisasi data pada salah satu attribute menggunakan Min Max scaler

In [8]:
from sklearn.preprocessing import MinMaxScaler

Digunakan untuk melakukan Normalisasi dataset

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            1040 non-null   object
 1   Valuation ($B)     1040 non-null   float64
 2   Date Joined        1040 non-null   datetime64[ns]
 3   Country            1034 non-null   object
 4   City               1040 non-null   object
 5   Industry           1040 non-null   object
 6   Select Inverstors  1040 non-null   object
 7   Founded Year       997 non-null    Int64
 8   Total Raised       1016 non-null   float64
 9   Financial Stage    1040 non-null   object
 10  Investors Count    1039 non-null   Int64
 11  Deal Terms         1011 non-null   Int64
 12  Portfolio Exits    50 non-null     Int64
dtypes: Int64(4), datetime64[ns](1), float64(2), object(6)
memory usage: 109.8+ KB

In [10]:
mm = MinMaxScaler()
dummyNorm = mm.fit_transform(df2[['Founded Year']])

Proses Normalisasi
- fit_transform : Digunakan untuk melakukan fit dan transfrom secara bersamaan

In [11]:

np.nanmax(dummyNorm)

1.0

np.nanmax : saya gunakan agar hasil nya tidak 'nan'

### 3. Standarisasi pada dataset

In [12]:
from sklearn.preprocessing import StandardScaler

Digunakan unuk melakukan standarisasi dataset

In [13]:
df2.dtypes

Company                      object
Valuation ($B)              float64
Date Joined          datetime64[ns]
Country                      object
City                         object
Industry                     object
Select Inverstors            object
Founded Year                  Int64
Total Raised                float64
Financial Stage              object
Investors Count               Int64
Deal Terms                    Int64
Portfolio Exits               Int64
dtype: object

Mengecek tipe data atribut/kolom

In [14]:
ss = StandardScaler()
df3[['Valuation ($B)','Total Raised','Founded Year','Investors Count','Deal Terms','Portfolio Exits',]] = ss.fit_transform(df2[['Valuation ($B)','Total Raised','Founded Year','Investors Count','Deal Terms','Portfolio Exits',]])

Proses Standarisasi

In [15]:
print("\n Nilai Data setelah scaling : ")
# print(df2[['Valuation ($B)','Total Raised','Founded Year','Investors Count','Deal Terms','Portfolio Exits',]])
print("Nilai standar deviasi:")
print(np.std(df3[['Valuation ($B)','Total Raised','Founded Year','Investors Count','Deal Terms','Portfolio Exits',]]))

 Nilai Data setelah scaling :
Nilai standar deviasi:
Valuation ($B)     1.0
Total Raised       1.0
Founded Year       1.0
Investors Count    1.0
Deal Terms         1.0
Portfolio Exits    1.0
dtype: float64

Hasil Akhir
- np.std : digunakan untuk menghitung standar deviasi

### 4.  Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus).

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            1040 non-null   object
 1   Valuation ($B)     1040 non-null   float64
 2   Date Joined        1040 non-null   datetime64[ns]
 3   Country            1034 non-null   object
 4   City               1040 non-null   object
 5   Industry           1040 non-null   object
 6   Select Inverstors  1040 non-null   object
 7   Founded Year       997 non-null    Int64
 8   Total Raised       1016 non-null   float64
 9   Financial Stage    1040 non-null   object
 10  Investors Count    1039 non-null   Int64
 11  Deal Terms         1011 non-null   Int64
 12  Portfolio Exits    50 non-null     Int64
dtypes: Int64(4), datetime64[ns](1), float64(2), object(6)
memory usage: 109.8+ KB

DIgunakan untuk memeriksa kolom mana saja yang terdapat Null

In [17]:
df2.isnull().sum()

Company                0
Valuation ($B)         0
Date Joined            0
Country                6
City                   0
Industry               0
Select Inverstors      0
Founded Year          43
Total Raised          24
Financial Stage        0
Investors Count        1
Deal Terms            29
Portfolio Exits      990
dtype: int64

Mengecek jumlah null pada setiap kolom

In [18]:
df2[['Founded Year', 'Investors Count', 'Deal Terms', 'Portfolio Exits']] = df2[['Founded Year', 'Investors Count', 'Deal Terms', 'Portfolio Exits']].fillna(df2[['Founded Year', 'Investors Count', 'Deal Terms', 'Portfolio Exits']]).median()
df2[['Total Raised']] = df2[['Total Raised']].fillna(df2[['Total Raised']]).mean()
df2[['Country']] = df2[['Country']].fillna(df2['Country'].mode()[0])

Menghilangkan Null pada kolom

In [19]:
df2.isnull().sum()

Company              0
Valuation ($B)       0
Date Joined          0
Country              0
City                 0
Industry             0
Select Inverstors    0
Founded Year         0
Total Raised         0
Financial Stage      0
Investors Count      0
Deal Terms           0
Portfolio Exits      0
dtype: int64

Hasil Akhir

### 5.Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

In [20]:
df2.duplicated().sum()

3

Mengecek jumlah duplikat pada data set

In [21]:
df2.drop_duplicates(inplace=True)
df2.duplicated().sum()

0

Hasil akhir
- inpace=True : digunakan untuk menerapkan perubahan langsung ke variabel dataset

### 6. Ganti tipe data salah satu attribute angka

In [22]:
df2['Deal Terms'] = df2['Deal Terms'].astype('float64')
df2['Deal Terms'].dtype

dtype('float64')

astype() : Mengkonversi tipe data

### 7. Lakukan one hot encoding pada dataset yang kalian miliki

In [23]:
from sklearn.preprocessing import OneHotEncoder

Digunakan untuk melakukan one hot encoding

In [24]:
ohe = OneHotEncoder(sparse_output=False)
oh_encoded = ohe.fit_transform(df2[['Financial Stage']])
oh_encoded

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [31]:
encoded = pd.DataFrame(oh_encoded, columns=['Acq','Acquired','Asset','Corporate','Divestiture','IPO','Reverse','None','Take','Management',])
encoded.value_counts()

Acq  Acquired  Asset  Corporate  Divestiture  IPO  Reverse  None  Take  Management
0.0  0.0       0.0    0.0        0.0          0.0  0.0      1.0   0.0   0.0           988
     1.0       0.0    0.0        0.0          0.0  0.0      0.0   0.0   0.0            22
     0.0       0.0    0.0        1.0          0.0  0.0      0.0   0.0   0.0             8
                                 0.0          1.0  0.0      0.0   0.0   0.0             7
1.0  0.0       0.0    0.0        0.0          0.0  0.0      0.0   0.0   0.0             7
0.0  0.0       0.0    0.0        0.0          0.0  0.0      0.0   0.0   1.0             1
                                                                  1.0   0.0             1
                                                   1.0      0.0   0.0   0.0             1
                      1.0        0.0          0.0  0.0      0.0   0.0   0.0             1
               1.0    0.0        0.0          0.0  0.0      0.0   0.0   0.0             1
dtype: int64

In [32]:
encoded

,Acq,Acquired,Asset,Corporate,Divestiture,IPO,Reverse,None,Take,Management
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1034,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1036,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0